<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{company_short_name}} {{server_name}}</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1>{{server_name}} is Online</h1>
    <h2>{{env}}</h2>
    <p>Active is state.</p>
    <br />
    Commercial support is available at
    <a href="{{company_url}}">{{company_name}}</a>.</p>
</body>

</html>